{% extends "base.html" %}
{% load i18n task_list_tags %}

{% block main %}
    <h1>{% trans "Update task list" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>{% trans "Update the title of your task list or add and remove users, that can access the list." %}</p>
        {% for field in form %}
            {% include "task_list/partials/simple_form_field.html" %}
        {% endfor %}
        <input type="submit" value="{% trans "Save list" %}" />
        <a href="{% get_ctype_url "task_list_delete" ctype_pk=ctype_pk obj_pk=obj_pk pk=object.pk %}">{% trans "Delete list" %}</a>
        <a href="{% get_ctype_url "task_list_list" ctype_pk=ctype_pk obj_pk=obj_pk %}">{% trans "Back to index" %}</a>
    </form>
    <form method="get" action="{% get_ctype_url "template_update" ctype_pk=ctype_pk obj_pk=obj_pk pk=task_list.pk %}">
        <input type="submit" value="{% trans "Save as template" %}" />
        <input type="hidden" name="next" value="{{ request.path }}"/>
    </form>
{% endblock %}
