{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <h1>{{ task_list.title }}</h2>
    {% if object_list %}
        <table>
            {% for task in object_list %}
                <tr>
                    <form action="{% url "task_toggle" pk=task.pk%}" method="post">
                        {% csrf_token %}
                        <td><a href="{% url "task_update" pk=task.pk %}">{{ task.title }}</a></td>
                        <td>
                            <input type="submit" name="toggle" value="{% if task.is_done %}{% trans "Mark undone" %}{% else %}{% trans "Mark done" %}{% endif %}" />
                            <input type="hidden" name="task" value="{{ task.pk }}"/>
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                        </td>
                    </form>
                <tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "No task in this list yet. You can add one by clicking below." %}</p>
    {% endif %}
    <a href="{% url "task_create" pk=task_list.pk %}">{% trans "Add new task" %}</a>
    <a href="{% url "task_list_list" %}">{% trans "Back to all lists" %}</a>
{% endblock %}
