{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <h1>{% trans "Update task list" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>{% trans "Update the title of your task list or add and remove users, that can access the list." %}</p>
        {% for field in form %}
            {% include "task_list/partials/simple_form_field.html" %}
        {% endfor %}
        <input type="submit" value="{% trans "Submit" %}" />
        <a href="{% url "task_list_delete" pk=object.pk %}">{% trans "Delete list" %}</a>
        <a href="{% url "task_list_list" %}">{% trans "Back to index" %}</a>
    </form>
{% endblock %}
