{% extends "base.html" %}
{% load i18n task_list_tags %}

{% block main %}
    <h1>{% trans "Update task" %}</h1>
    <p>{% trans "Update the details of your task." %}</p>
    <form method="post" action="{% get_ctype_url "task_toggle" pk=task.pk ctype_pk=ctype_pk obj_pk=obj_pk %}">
        <div>
            {% csrf_token %}
            <input type="submit" name="toggle" value="{% if task.is_done %}{% trans "Mark undone" %}{% else %}{% trans "Mark done" %}{% endif %}" />
            <input type="hidden" name="task" value="{{ task.pk }}"/>
            <input type="hidden" name="next" value="{{ request.path }}"/>
        </div>
    </form>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {% include "task_list/partials/simple_form_field.html" %}
        {% endfor %}
        <input type="submit" value="{% trans "Submit" %}" />
        <a href="{% get_ctype_url "task_delete" pk=form.instance.pk ctype_pk=ctype_pk obj_pk=obj_pk %}">{% trans "Delete task" %}</a>
        <a href="{% get_ctype_url "task_list" task_list_pk=task_list.pk ctype_pk=ctype_pk obj_pk=obj_pk %}">{% trans "Back to tasks" %}</a>
    </form>
{% endblock %}
