{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <h1>{% trans "All of your task lists" %}</h2>
    {% if object_list %}
        <ul>
            {% for task_list in object_list %}
                <li>
                    <a href="{% url "task_list" pk=task_list.pk %}">{{ task_list.title }}</a>&nbsp;
                    (<a href="{% url "task_list_update" pk=task_list.pk %}">{% trans "Edit" %}</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No task lists yet. You can add one by clicking below." %}</p>
    {% endif %}
    <a href="{% url "task_list_create" %}">{% trans "Add new task list" %}</a>
    <a href="{% url "template_list" %}">{% trans "Edit templates" %}</a>
{% endblock %}
