{% extends "base.html" %}
{% load i18n task_list_tags %}

{% block main %}
    <h1>{% trans "Create task" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <p>{% trans "Please enter a title for your task." %}</p>
        {{ form.non_field_errors }}
        {% for field in form %}
            {% include "task_list/partials/simple_form_field.html" %}
        {% endfor %}
        <input type="submit" value="{% trans "Submit" %}" />
        <a href="{% get_ctype_url "task_list" task_list_pk=task_list.pk ctype_pk=ctype_pk obj_pk=obj_pk %}">{% trans "Back to tasks" %}</a>
    </form>
{% endblock %}
