{% extends "base.html" %}
{% load i18n task_list_tags %}

{% block main %}
<h1>{% trans "Delete task?" %}</h1>
<p>
{% blocktrans with object.title as title%}
    Are you sure you want to delete the task "{{ title }}"?
{% endblocktrans %}
</p>
<form method="post" action=".">
    {% csrf_token %}
    <input type="submit" value="{% trans "Confirm deletion" %}" />
    <a href="{% get_ctype_url "task_update" ctype_pk=ctype_pk obj_pk=obj_pk pk=object.pk %}">{% trans "or cancel" %}</a>
</form>
{% endblock %}
