{% extends "base.html" %}
{% load i18n task_list_tags %}

{% block main %}
    <h1>{% trans "Update template" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <p>{% trans "Please enter a title for your template." %}</p>
        {{ form.non_field_errors }}
        {% for field in form %}
            {% include "task_list/partials/simple_form_field.html" %}
        {% endfor %}
        <input type="submit" value="{% trans "Submit" %}" />
        <a href="{% get_ctype_url "task_list_list" ctype_pk=ctype_pk obj_pk=obj_pk %}">{% trans "Back to task lists" %}</a>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
