{% extends "base.html" %}
{% load i18n task_list_tags %}

{% block main %}
<h1>{% trans "Delete template?" %}</h1>
<p>
{% blocktrans with object.title as title%}
    This will delete the template "{{ title }}".
{% endblocktrans %}
</p>
<form method="post" action=".">
    {% csrf_token %}
    <input type="submit" value="{% trans "Confirm deletion" %}" />
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        <a href="{{ next }}">{% trans "or cancel" %}</a>
    {% else %}
        <a href="{% get_ctype_url "template_list" ctype_pk=ctype_pk obj_pk=obj_pk %}">{% trans "or cancel" %}</a>
    {% endif %}
</form>
{% endblock %}
